body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.characters{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-weight: bold;
  padding-right: 20px;
}
.source{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-style: italic;
  padding-left: 20px;
}
.content{
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}
.comment{
  text-align: left;
  padding-left: 20px;
}
.comment-author{
  font-weight: bold;
}
.add-comment{
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
}
.article-card{
  padding-top: 20px;
  padding-bottom: 20px;
}
.list-rating{
  text-align: left;
  padding: 20px 30px;
}
.new-comment{
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
}

textarea {
  resize: none;
}

.rate {
  width: fit-content;
  margin: 0 auto;
}

.rating {
  text-align: center;
}

.rate-up,
.rate-down {
  width: fit-content;
  cursor: pointer;
}

.rate-up svg,
.rate-down svg {
  transition: fill .5s linear;
}

.rate-up:hover svg{
  fill: #7DD6E5;
}
.rate-down:hover svg {
  fill: #EC8AC2;
}

.menu {
  width: fit-content;
  padding-left: 10px;
}

.menu-title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.menu-title-arrow {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
  transition: all .4s ease;
  transform: rotate(45deg);
}

.active-arrow {
  transform: rotate(135deg);
}

.menu-items {
  position: absolute;
  z-index: 100;
  height: 0;
  overflow: hidden;
  transition: height .2s linear;
  padding-left: 10px;
}

.super-rubric {
  font-weight: 700;
}

.list-item {
  display: block;
  margin-left: 15px;
  cursor: pointer;
}

.active {
  height: 250px;
  transition: height .4s linear;
}

.list-articles-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.list-articles {
  width: 100%;
  transition: width .4s linear;
}

.squeeze {
  width: 82%;
  transition: width .2s linear;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}
.content-thumbnail{
  display: flex;
}
.title:hover{
  text-decoration: underline;
  color: blue;

}
.title{
  width: fit-content;
  cursor: pointer;
}